html {
    background-color: rgb(238, 235, 221);
}
p {
    color:rgb(68, 0, 255);
}
h2 {
    color: rgb(224, 78, 78);
}
a {
    color: rgba(238, 61, 38, 0.904);
}
.block {
    width: 260px;
    background-color: rgb(223, 220, 166);
    border: 2px solid rgba(189, 106, 12, 0.849);
    padding: 20px 10px 20px 30px;
    /*margin: 30px 20px 10px 50px;*/
}